* {
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-size: 13px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #ffffff;
}

/* Floating modules with reduced opacity and sleek borders */
.modules-left,
.modules-center,
.modules-right {
    background: rgba(18, 18, 18, 0.75); /* Deep black with ~75% opacity */
    border: 0px solid rgba(0, 0, 0, 0.4); /* Subtle #ffffff border */
    border-radius: 1000px;
    padding: 2px 10px;
    
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

/* Individual Module Colors & Hover Effects */
#custom-launcher {
    color: #ffffff;
    font-size: 16px;
    padding: 0 8px 0 2px;
}

#workspaces button {
    padding: 0 6px;
    color: rgba(255, 255, 255, 0.4);
    border-radius: 6px;
    transition: all 0.2s ease-in-out;
}

#workspaces button.active {
    color: #ffffff;
    background: transparent;
    border-radius: 6px;
}

#workspaces button:hover {
    color: #ffffff;
    background: transparent;
}

#window {
    color: rgba(255, 255, 255, 0.8);
    padding: 0 10px;
}

#clock {
    color: #ffffff;
}

#cpu {
    color: #ffffff;
    margin-right: 10px;
}

#memory {
    color: #ffffff;
    margin-right: 10px;
}

#temperature {
    color: #ffffff;
    margin-right: 10px;
}

#temperature.critical {
    color: #ff5555;
    animation: blink 1s infinite steps(1);
}

#network {
    color: #ffffff;
    margin-right: 10px;
}

#pulseaudio {
    color: #ffffff;
    margin-right: 10px;
}

#battery {
    color: #ffffff;
    margin-right: 10px;
}

#battery.warning:not(.charging) {
    color: #ffb86c;
}

#battery.critical:not(.charging) {
    color: #ff5555;
    animation: blink 1s infinite steps(1);
}

#tray {
    padding: 0 5px;
}

#custom-power {
    color: #ff5555;
    padding: 0 2px 0 8px;
}

@keyframes blink {
    to {
        background-color: #ff5555;
        color: #121212;
    }
}